body{  
    height: 100vh;
    background-color: #EBEBEB;
    display: flex;
    flex-direction: column;
    /* background-image: linear-gradient(to top, #e6e9f0 0%, #eef1f5 100%); */
    /* background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%); */
}

main{
    flex: 1;
}

.container{
 
    flex: 1;
}